[user]
	name = Leo Cotta
	email = leoabreucotta@gmail.com
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[pull]
	rebase = true
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/lcotta/.gitignore
